@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  
}
header{
position: fixed; 
width: 100%; 
top: 0;
left: 0;
// background: #FFFFFF;
}
.top{
  display:flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 3px;
  background: #FFFFFF;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.8px;

  &::before{
    content: ""
  }
}
.location {
  display: flex;
  align-items: center;
  a{
    text-decoration: none;
    margin-right: 24px;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.0833333px;
    color: #000000;
    &:first-child{
      width: 8px;
      height: 11px;
      margin-right: 6px;

    }
  }
  
}
.gradient{
  background: linear-gradient(180deg, 
rgba(51,51,51,0.3) 0%, rgba(0,0,0,0.0001) 100%);

  mix-blend-mode: normal;

}
.headerlogin{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.brand{
  margin: 16px 0px 23px 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.95px;
  color: #FFFFFF;


}
.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid #F2F2F2; /*ACTIVE/
  border-radius: 3px;

  .search-field{
    box-sizing: border-box;
    border: none;
    // border: 1px solid #F2F2F2; 
    outline: none;
    background-color: rgba(247, 247, 247, 0.24);
    border-radius: 3px;
    background-image: url(../icons/header/Fillwhite1.svg);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 16px;
    padding: 16px 50px 15px 16px;
    width: 584px;
    height: 48px;
    // font-family: Poppins;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 11px;
    // letter-spacing: 0.8px;
    // color: #000000;
    &::placeholder{
      color: #FFFFFF;
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 0.8px;
    }
  }
  // .search-field END
  // .search-icon{
  //   background-position: right;
  //   display: flex;
  //   align-items: center;
  //   float: left;
  // }
}
//SERRCH END

.login{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  // ACTIVE
  // margin: 24px 25px 48px 0px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1px;
  color: #FFFFFF;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; /*убираем маркеры списка*/
    margin: 16px;
    margin-left: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
  .line{
    padding: 10px;
    margin: 10px;
    position: relative;
    &::after{
      content:"";
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: 0;
      display: block;
      height: 10px;
      width: 2px;
      background: #FFFFFF;
    }
  }

    // &:first-child{
    //   border-right: solid 3px #FFFFFF;
    // }



  }
    
  a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    // margin-top: 24px;
    // margin-bottom: 16px;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 1px;
    color: #FFFFFF;

  

    // Active
    // .login{
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   margin: 24px 55px 48px 0px;
    //   font-family: Poppins;
    //   font-weight: 600;
    //   font-size: 11px;
    //   line-height: 16px;
    //   text-align: right;
    //   letter-spacing: 1px;
    //   color: #FFFFFF;
    // }
    // div{
    //   margin-right: 16px;
    // }
    // .basket{
    //   position: relative;
    //   text-decoration: none;
    //   span{
    //     position: absolute;
    //     top: 1px;
    //     left: 26px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 22px;
    //     width: 22px;
    //     background:#F2DA91;
    //     border-radius: 100%;
    //     color: #000000;
    //   }
    // }


  }
}
.menuheader{
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    margin: 0 0 17px 0;
    padding-left: 0; 
    width: 640px;
  }
  a {
    text-decoration: none; 
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;

  }

  li {
    float:left; 
    margin-right:5px; 
    
  }
}


.image{
  h1{
    background: url(../images/9193579.jpg) no-repeat center 23px ;
    padding: 342px 0px 253px 0;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
  }
} 

.arrivals_register{
  display:flex;
  align-items: center;
  justify-content: center;
  .register{
    width: 439px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.872727px;
    color: #000000;
    text-align: justify; 


    form{
      display: flex;
      justify-content: space-between;
      .search-field-main{
        width: 334px;
        height: 32px;
        border: 1px solid #E1E0E1;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 14px;
        margin-bottom: 32px;

        &::placeholder{ 
          font-weight: normal;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0.8px;
          color: #4A4A4A;
          padding: 11px;
        }
      }
    }

    button {
      border: none;
      background: #000000;
      border-radius: 3px; 
      width: 94px;
      margin-top: 14px;
      height: 32px;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  
}
footer{
  background: #F7F7F7;
  p{
    margin: 0;
    padding-top: 32px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;
  }
}
.columns{
  width: 891px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  ul {
    list-style: none;
    margin-top: 26px;
    margin-bottom: 0;
    padding-left: 0;

    li{
      margin-bottom: 6px;

      &:first-child{
        font-family: "Cormorant Garamond";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.16364px;
        color: #000000;
        margin-bottom: 17px;
              
      }
     
    }
      a { 
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1px;
        color: #000000;
     } 
      

  }


}
.social{
  text-decoration: none;
  display: block;
  // align-items: center;

  a{
    margin-right: 16px;
  }
}